.mobile-only {
  display: none;
}

.mobile-not-only {
  display: initial;
}

.mobile-only-icon {
  margin: 15px !important;
}

// min width:768px - max width: 1111px
@media only screen and(min-width:768px) and (max-width: 1111px) {
  .request-item-info-price {
    top: 40px;
  }
}

// max - 1100px
@media only screen and(max-width:1100px) {
  .timing-table-item-txt {
    font-size: 13px;
    top: 6px;
  }
  .timing-table-item-date {
    font-size: 10px;
    left: initial;
    right: 15px;
    top: -10px;
  }
}

// max - 890px
@media only screen and(max-width:890px) {
  .login-modal-issue{
    bottom: 55px;
  }
}

// max - 768px
@media only screen and(max-width:768px) {
  .mobile-only {
    display: initial;
  }

  .mobile-not-only {
    display: none;
  }

  .login-modal {
    margin-top: 5px;
  }

  .mobile-only-txt-center {
    text-align: center;
  }

  .login-modal {
    margin: 0 auto;
    width: auto;
    text-align: center;
    font-size: 10px;
    padding: 35px;
    margin-bottom: 100px;
  }

  .login-modal-info-footer-txt {
    font-size: 8px;
  }

  .login-modal-submit {
    min-width: 100px;
    padding: 15px;
    font-size: 10px;
    left: 35px;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.85);
  background: -moz-linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
  }

  .login-modal-issue {
    bottom: 0px;
    right: 40px;
    font-size: 10px;
  }

  .stepper-box-txt {
    display: none;
  }

  .req-jumbo {
    width: 100%;
  }

  .footer {
    &-menu {
      margin-top: 15px;
    }
  }

  .request-form {
    padding: 50px 10px;
  }

  .request-information-right {
    border-left: initial;
    border-bottom: 1px solid $color_grey_border;
  }
  .dropdown-menu-right {
    left: 0 !important;
    right: initial !important;
  }
}

// max - 730px
@media only screen and(max-width:730px) {
  .stepper-box-header {
    font-size: 13px;
  }
  .stepper-box-txt {
    font-size: 10px;
  }
}

// max - 450px
@media only screen and(max-width:450px) {
  .stepper-container {
    width: 65%;
    transform: translate(16%, 0px);
  }
  .request-item-info-price {
    font-size: 13px;
    top: 40px;
  }
  .factor {
    &-header {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-footer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .stepper-box-header {
    font-size: 10px;
  }
  .stepper-box-txt {
    font-size: 8px;
  }
}
