.loading {
  &-container {
      position: relative;
      height: 100vh;
      width: 100%;
  }
  direction: rtl;
  padding: 50px 20px; 
  background: #fff;
  height: 200px;
  width: 300px;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 100000;
  &-header {
    font-family: "IRANYekanBold";
    color: #a61f64;
  }
  &-gif {
    background: url('../../../assets/gifs/loading.gif') center no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 100px;
    width: 100%;
  }
}
.loading-overlay {
  min-height: 100%;
  height: 100vh !important;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 100000;
  position: fixed;
}
