.iziToast-body {
  font-family: 'IRANYekanBold' !important;
  direction: rtl !important;
}

.iziToast > .iziToast-body .iziToast-message {
  float: left !important;
}
.iziToast > .iziToast-body .iziToast-title {
  font-family: 'IRANYekanBold' !important;
  margin-left: 15px !important;
  margin-right: 0px !important;
  float: right !important;
}
